<html>
    <head>

    </head>
    <body>

        <form action="/predict" method="post">
            <label>sepal_length : </label> <input type="number" step="any" name="html_sep_length"> <br><br>
            <label>sepal_width : </label> <input type="number" step="any" name="html_sep_width"> <br><br>
            <label>petal_length : </label> <input type="number" step="any" name="html_pet_length"> <br><br>
            <label>petal_width : </label> <input type="number" step="any" name="html_pet_width"> <br><br>

            <input type="submit" value="CHECK SPECIE">
        </form>



    </body>



</html>